body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube2d{
    position: absolute;
    border: 10px solid;
    height: 30vw;
}

.cell{
    border: 1px solid;
    width: 10vw;
}

.cr1c1{
    background-color: darkred;
}

.colorpicker{
    position: relative;
    background-color: brown;
    height: 20vw;
    width: 20vw;
}
.cptopbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.colors{
    display: flex;
    flex-direction: column;
}
.colorsrow1{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.colorsrow2{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}